.container{
	text-align:center;
}

.main{
	background:#bdc3c7;
	height:200px;
	border: red solid #ff00ff;
}
#id{
	font-size:16px;
}

#stop, #reset{
	display:none;
}

.container {
height:1000px;
background-image: url("20130528-P5280227_TP_V4.jpg");
}
